/.vsconfig
/Assembly-CSharp.csproj
/Assembly-CSharp-firstpass.csproj
/CFXR.WelcomeScreen.csproj
/CFXRDemo.csproj
/CFXREditor.csproj
/CFXRRuntime.csproj
/JumpOneJump.sln
/JumpOneJump_v0.2.rar
/KinoBloom.Runtime.csproj
/ToonyColorsPro.Demo.Editor.csproj
/.vs
/Library
/Logs
/obj
/Bin
